@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-italic.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
}
ul {
  list-style: none;
}
.button-search {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
.subscribe-title {
  padding: 94px 240px 29px;
  margin: 0;
}
.subscribe-description {
  margin-bottom: 46px;
  margin-top: 0;
}
.subscribe-button {
  width: 200px;
  height: 60px;
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  border-radius: 10px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0px 10px 10px 0px;
}
.navigation-link-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
.page-header {
  color: #000000;
  background: #ffffff;
}
.logo {
  margin-right: 30px;
}
.navigation {
  display: flex;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
}
.navigation-list {
  display: flex;
  width: 345px;
  margin-right: 279px;
  padding: 0;
}
.navigation-user {
  display: flex;
  max-width: 264px;
  margin: 0;
  padding: 0;
  
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  text-decoration: none;
}
.main-container {
  flex-grow: 1;
}
.description {
  background-image: url("../images/index-background.jpg");
  background-size: auto auto;
  background-repeat: no-repeat;
}
.canyon-image {
  margin: 51px 371px 82px;
}
.page-container{
  width: 1200px;
  margin: 0 auto;
}
.tagline {
  height: 282px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.tagline-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.tagline-causes {
  font-size: 22px;
  line-height: 36px;
}
/* Advantages */
.advantages-columns{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages-block {
  width: 400px;
  height: 384px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.advantages-block .advantages-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 97px;
  padding-bottom: 30px;
  margin: 0;
}
.advantages-block .advantages-text {
  width: 210px;
  height: 63px;
  font-size: 18px;
  line-height: 21px;
  padding-left: 90px;
  font-weight: 400;
  margin: 0;
}
/* синие блоки */
.advantages-description-blue {
  width: 400px;
  height: 384px;
  background: #83B3D3;
}
.advantages-block-1 .advantages-title,
.advantages-block-1 .advantages-text {
  color: #ffffff;
}

.advantages-block-3 .advantages-title,
.advantages-block-3 .advantages-text {
  color: #ffffff;
}
/* светло-синие блоки */
.advantages-description-light {
  width: 400px;
  height: 384px;
  background: rgba(131, 179, 211, 0.12);
}
.advantages-description-middle {
  width: 400px;
  height: 384px;
  background: rgba(131, 179, 211, 0.2);
}
.offer-hotel {
  height: 417px;
}
.offer-text {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 90px;
  margin-bottom: 29px;
}
.offer-description {
  width: 720px;
  height: 52px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 56px;

}
/* subscription newsletter */
.subscribe {
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 411px;
  text-align: center;
}
.subscribe-title {
  color: #ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.subscribe-description {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
}
.page-footer-container {
  display: flex;
  margin: auto;
  height: 120px;
}
.footer-social {
  width: 107px;
  margin: 49px 0 53px 72px;
}
.footer-social-list {
  display: flex;
}
/* Phone */
.footer-contacts-phone {
  width: 720px;
  height: 50px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #000000;
  margin: 40px 240px 30px;
}
.logo-academy {
  margin: 42px 72px 44px 0;
}
/* Breadcrumbs */
.breadcrumbs {
  display: flex;
  color: #ffffff;
  padding: 0;
  margin: 0;
  margin-left: 73px;
  margin-bottom: 45px;
  }
.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: inherit;
}
.catalog-hotels {
  display: flex;
}
/* hotel search catalog */
.inner-header {
  background-image: url(../images/background-catalog.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 408px;
  color: #ffffff;
  margin-bottom: 44px;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  padding-left: 71px;
  padding-top: 35px;
}
.catalog-filter-list {
  padding-left: 0;
  margin: 0;
}
.control-input {
  margin-bottom: 13px;
}
.catalog-filter {
  display: flex;
  
}
.catalog-filter-infrastructure {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-left: 71px;
  margin-right: 67px;
  border: none;
}
.catalog-filter-housing {
  width: 190px;
  margin-right: 216px;
  border: none;
}
.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}
.button-apply {
  width: 160px;
  height: 48px;
  margin-right: 72px;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.sorting-container {
  display: flex;
  width: 1057px;
  margin-left: 71px;
  margin-right: 72px;
}
.hotels-found {
  font-size: 30px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 192px;
  margin-top: 0;
}
.select-control {
  width: 287px;
  height: 48px;
  margin-right: 81px;
}
.show-cards {
  width: 48px;
  height: 48px;
}
.button-cards {
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
}
/* Каталог гостиниц */
.catalog-column {
}
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  width: 1056px;
  height: 1040px;
  margin-left: 72px;
  margin-right: 72px;
  padding: 0;
}
.hotel-card {
  width: 340px;
  height: 438px;
  padding: 20px;
} 
.hotel-card-link {
  text-decoration: none;
}
.hotel-card-titlle {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}
.housing-type {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.housing-price {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.hotel-card-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
.hotel-card-button-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.hotel-card-button-in-favorites {
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}
.pagination-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  border-radius: 4px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  
}
.pagination {
  display: flex;
  flex-direction: row;
  margin-left: 72px;
  padding: 0;
}
.pagination-link {
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 2px;
  font-weight: 700;
}
.pagination-current {
  width: 55px;
  height: 55px;
  color: #242424;
  background-color: #F2F2F2;
  margin-right: 8px;
}
.objects-page {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.select-pages {
  display: flex;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}
.pagination-item {
  width: 55px;
  height: 55px;
  background: #83B3D3;
  border-radius: 4px;
  margin-right: 8px;
}
/* Subscribe to newsletter */
.subscribe-catalog {
  width: 800px;
  height: 241px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}
.subscribe-title-catalog {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}
.subscribe-description-catalog {
  color: #000000;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 46px;
}
.subscribe-button-catalog {
  font-family: inherit;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0px 10px 10px 0px; 
}
/* Цвет ссылок и кнопок */ 
  .navigation-item a:hover {
    color: #756257;
 } 
 .button-search:hover {
  background: #615048;
  color: #ffffff; 
 }
 .button-search:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
  border-radius: 10px;
 }
 .subscribe-button:hover {
  background: #68A2CA; 
 }
 .subscribe-button:focus {
  background: #68A2CA;
  border: 3px solid #756257;
  border-radius: 0px 10px 10px 0px;
 }
 .navigation-item .navigation-link-button:hover {
  color: #ffffff;
  background: #615048;
  border-radius: 4px;
 }
 .navigation-link-button:focus {
  color: #ffffff;
  border: 3px solid #83B3D3;
  border-radius: 4px;
}
